<div class='navbar navbar-expand-md navbar-dark bg-info'>

    <%= link_to 'Facebukk', home_path , class: 'navbar-brand' %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-toggler">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id='navbar-toggler'>

        <ul class='navbar-nav'>
          
        </ul>

        <ul class='navbar-nav ml-auto'>
            <% if user_signed_in? %>
                <li><%= link_to 'Logout', destroy_user_session_path ,method: 'delete', class: 'nav-link' %></li>
            <% else %>
                <li class='<%= 'active' if current_page?(new_user_registration_path) %>'><%= link_to 'Register', new_user_registration_path , class: 'nav-link' %></li>
                <li class='<%= 'active' if current_page?(new_user_session_path) %>'><%= link_to 'Login', new_user_session_path , class: 'nav-link' %></li>
            <% end %>

        </ul>

    </div>

</div>
