<div class='navbar navbar-expand-md navbar-dark bg-info'>

    <%= link_to 'Facebukk', home_path , class: 'navbar-brand' %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-toggler">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id='navbar-toggler'>

        <ul class='navbar-nav'>
            <%= form_tag(users_list_path, method: 'get', class: 'input-group') do %>
                <%= text_field_tag('search' , '' , class: 'form-control') %>
                <div class="input-group-append">
                    <%= submit_tag('Search',name: nil,class: 'btn btn-secondary')%>
                </div>  
            <% end %>
        </ul>

        <ul class='navbar-nav ml-auto'>
            <% if user_signed_in? %>
                <li class='nav-link text-white'><strong><%= current_user.name.capitalize %></strong></li>
                <li><%= link_to 'Logout', destroy_user_session_path ,method: 'delete', class: 'nav-link' %></li>
            <% else %>
            <% end %>
        </ul>

    </div>

</div>
