<div class='profile-background'>
    <div class='background-content'>
        <h1><%= user.name.capitalize %></h1>
        <h1><%= user.last_name.capitalize %></h1>
    </div> 
</div><br>

<div class='container-fluid'>
<div class='row'>

    <div class='col-4'>

        <div class='card'>
            <div class='card-header bg-info text-white'>About me</div>
            <div class='card-body'>
                <p><%= user.profile_bio %></p>
                <% if user_is_permitted? %>
                    <%= button_to 'Edit' , edit_user_registration_path , method: 'get',class: 'btn btn-success float-right' %>
                <% end %>

                <% if can_be_friends(user) %>
                    <%= button_to 'Add friend', friendships_path ,method: 'post',params:{user_id: user.id},class: 'btn btn-success float-right',form_class: 'd-inline'%>
                <% end %>

                <% if already_friends(user)%>
                    <%= button_to 'Remove friend', friendship_path(user.id) ,method: 'delete',class: 'btn btn-danger float-right',form_class: 'd-inline',data:{confirm: "Are you sure you want to remove this friend from you friend list?"}%>
                <% end %>
                
            </div>
        </div><br>

        <div class='card'>
            <div class='card-header bg-info text-white'>Friends</div>
            <div class='card-body'>
                <% user.friendships.limit(20).shuffle.each do |friendship|%>
                    <%= render partial: 'user/friend' , locals: {user: friendship.friend} %>
                <% end %>
            
                <%= button_to 'More...' , friends_list_path(user.id) , method: 'get',class: 'btn btn-success float-right' %>
            </div>
        </div>

    </div>

    <div class='col-8'>

        <% if user_is_permitted? %>
            <%= render 'posts/new' %>
        <% end %>

        <% user.posts.each do |post|%>
            <%= render partial: 'posts/post' , locals: {post: post} %>
        <% end %>

    </div>


</div>
</div>